{% block fulltext_widget %}
    {% for attrname, attrvalue in attr %}
        {% if attrname == 'id' %}
            <script type="text/plain" id="{{ attrvalue }}" style="width:{{ attr.width }};height:{{ attr.height }};">
        {% endif %}
    {% endfor %}
    {% if attr.placeholder is defined %}
            <p>{{ attr.placeholder }}</p>
    {% endif%}
    </script>
{% endblock fulltext_widget %}

{%- block lay_date_widget -%}
    {{ form_widget(form) }}
    <script>
    laydate.render({
      elem: {{ '#' ~ form.id }} //指定元素
    });
    </script>
{%- endblock -%}
